body{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
#logo{
    width:200px;
    height: 100px;
}

header{
    border: 4px;
    border-style: none none solid none;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options > a{
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
}

#productTab{
    background-color: yellow;
    font-weight:bold;
}

#heading{
    font-size: 24px;
    text-align:center;
    margin-top: 100px;
}


.original, 
.apple,
.raisin, 
.walnut,
.doubleChocolate, 
.strawberry{
    padding: 5px 10px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;    
}

.original > a,
.apple > a,
.raisin > a,
.walnut > a,
.doubleChocolate > a,
.strawberry > a{
    margin-top: 0;
    line-height: 5px;
}

.original > a> img,
.apple > a > img,
.raisin > a > img,
.walnut > a > img,
.doubleChocolate > a > img,
.strawberry > a > img
{
    width: 200px;
    margin: 0px auto 0px auto;
    height: 200px;
    border: 3px solid black;
}

.original:hover,
.apple:hover,
.raisin:hover,
.walnut:hover,
.doubleChocolate:hover,
.strawberry:hover{
    background: yellow;
    cursor: pointer;
}

.productName{
    color: black;
}
.productPrice{
    padding: 0px;
    text-decoration: none;
    color: black;
    margin: 0px;
    height:10px; 
}
